<!DOCTYPE html>
<html>

<body>

    <h1>Faculty Feedback Form</h1>

    <form action="/stdReg" method="POST">
<label for="fname">Faculty Name
                <input type="text" name="fname" id="fname" placeholder="First Name" required autocomplete="First Name">
            </label> <br><br>
        <p>1.Effectively utilizes the classroom interaction time for syllabus transaction; illustrate the concepts
            through examples & applications and creates interest in the course?</p>
          <input type="radio" id="opt1" name="q1" value="opt1">
          <label for="opt1">Completly Agree</label>
          <input type="radio" id="opt2" name="q1" value="opt2">
          <label for="opt2">Agree Upto 75%</label>
          <input type="radio" id="opt3" name="q1" value="opt3">
          <label for="opt3">Agree Upto 50%</label>
        <input type="radio" id="opt4" name="q1" value="opt4">
          <label for="opt4">Agree Upto 25%</label>
        <input type="radio" id="opt5" name="q1" value="opt5">
          <label for="opt5">Completly Disagree</label>

        <br>

        <p>2.Is fair in evaluation aspects of internal examination?</p>
        <input type="radio" id="opt1" name="q2" value="opt1">
          <label for="opt1">Completly Agree</label>
          <input type="radio" id="opt2" name="q2" value="opt2">
          <label for="opt2">Agree Upto 75%</label>
          <input type="radio" id="opt3" name="q2" value="opt3">
          <label for="opt3">Agree Upto 50%</label>
        <input type="radio" id="opt4" name="q2" value="opt4">
          <label for="opt4">Agree Upto 25%</label>
        <input type="radio" id="opt5" name="q2" value="opt5">
          <label for="opt5">Completly Disagree</label>

        <p>3.Makes efforts to inculcate life skills and employability/ Professional skills to make you ready for the
            world of work.</p>
        <input type="radio" id="opt1" name="q3" value="opt1">
          <label for="opt1">Completly Agree</label>
          <input type="radio" id="opt2" name="q3" value="opt2">
          <label for="opt2">Agree Upto 75%</label>
          <input type="radio" id="opt3" name="q3" value="opt3">
          <label for="opt3">Agree Upto 50%</label>
        <input type="radio" id="opt4" name="q3" value="opt4">
          <label for="opt4">Agree Upto 25%</label>
        <input type="radio" id="opt5" name="q3" value="opt5">
          <label for="opt5">Completly Disagree</label>

        <p>4.Comes prepared for the class and has helpful approach to the students.</p>
        <input type="radio" id="opt1" name="q4" value="opt1">
          <label for="opt1">Completly Agree</label>
          <input type="radio" id="opt2" name="q4" value="opt2">
          <label for="opt2">Agree Upto 75%</label>
          <input type="radio" id="opt3" name="q4" value="opt3">
          <label for="opt3">Agree Upto 50%</label>
        <input type="radio" id="opt4" name="q4" value="opt4">
          <label for="opt4">Agree Upto 25%</label>
        <input type="radio" id="opt5" name="q4" value="opt5">
          <label for="opt5">Completly Disagree</label>

        <p>5.Discusses about expected competencies, Course outcomes, Program outcomes and lesson planning with the
            students.</p>
        <input type="radio" id="opt1" name="q5" value="opt1">
          <label for="opt1">Completly Agree</label>
          <input type="radio" id="opt2" name="q5" value="opt2">
          <label for="opt2">Agree Upto 75%</label>
          <input type="radio" id="opt3" name="q5" value="opt3">
          <label for="opt3">Agree Upto 50%</label>
        <input type="radio" id="opt4" name="q5" value="opt4">
          <label for="opt4">Agree Upto 25%</label>
        <input type="radio" id="opt5" name="q5" value="opt5">
          <label for="opt5">Completly Disagree</label>

        <p>6.Utilizes student centric methods, such as experiential learning, participative learning and problem solving methodologies for enhancing learning experiences.</p>
        <input type="radio" id="opt1" name="q5" value="opt1">
          <label for="opt1">Completly Agree</label>
          <input type="radio" id="opt2" name="q5" value="opt2">
          <label for="opt2">Agree Upto 75%</label>
          <input type="radio" id="opt3" name="q5" value="opt3">
          <label for="opt3">Agree Upto 50%</label>
        <input type="radio" id="opt4" name="q5" value="opt4">
          <label for="opt4">Agree Upto 25%</label>
        <input type="radio" id="opt5" name="q5" value="opt5">
          <label for="opt5">Completly Disagree</label><br><br>
        <button type="submit">Submit</button>


    </form>

</body>

</html>